$fontSizeBase: 14px;
@mixin fontDefault() {
    font-family: 'Josefin Slab', serif;
}

@mixin fontLogo() {
    font-family: 'Nova Mono', monospace;
}

@mixin fontSize($val) {
    font-size: $val;
}

@mixin fontColor($val) {
    color: $val;
}

@mixin textAlign($val) {
    text-align: $val;
}

@mixin elementMinHeight($val) {
    min-height: $val;
}

@mixin elementHeight($val) {
    height: $val;
}

html {
    @include elementHeight(100%);
}

body {
    @include elementMinHeight(100%);
    @include fontDefault();
    @include fontSize($fontSizeBase);
    width: 100wh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

body > * {
    @include elementHeight(inherit);
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.ant-layout {
    @include elementHeight(100%);
    @include fontColor(#fff);
    background: rgba(0, 0, 0, 0);
    justify-content: center;

    .logo {
        @include fontLogo();
        @include fontSize(600%);
        text-align: center;
    }

    .tagline {
        @include fontSize(230%);
        @include textAlign(center);
    }

    .ant-layout {
        background: rgba(0, 0, 0, 0);
    }
}

