@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.awesome-header {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  color: #fff;

  .logo {
    padding: 10px;
    font-size: 600%;
    text-align: center;
  }

  .tagline {
    padding: 10px;
    font-size: 230%;
    text-align: center;
  }
}

@media only screen and (max-width: $smallDevice) {
  .awesome-header {
    .logo {
      font-size: 380%;
    }

    .tagline {
      font-size: 135%;
    }
  }
}
