.custom-card {
  background: #ffffff;
  width: 100%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;

  &:hover {
    box-shadow: 0 6px 20px 0 rgba(0,0,0,.35);
  }

  .cover {
    height: 160px;
    min-height: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    .icons {
      z-index: 999;
      position: absolute;
      top: 10px;
      right: 10px;

      i {
        color: #ffffff;
        text-shadow: 1px 1px 1px rgba(0,0,0,.50);
      }
    }

    img {
      z-index: 999;
      max-width: 80%;
      max-height: 100px;
    }
  }

  .card-content {
    .title {
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 12px;
    }

    .sub-title {
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
