.ant-layout-footer {
  font-size: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a {
    min-width: 48px;
    min-height: 48px;
    padding: 0px 10px 0px;
    color: #424242;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-left {
    & a:first-child {
      padding-left: 0px;
    }
  }
}

@media(min-width: $smallDevice) {
  .ant-layout-footer {
    flex-direction: row;
  }
}
