#aha-menu.ant-menu {
  a {
    color: #fff;
  }

  a:link, a:active, a:visited, a:hover {
    color: #fff;
  }

  a:hover {
    font-size: 110%;
  }

  .logo > a:hover {
    font-size: 100%;
  }
}

@media(max-width: $smallDevice) {
  #aha-menu.ant-menu {
    .ant-menu-item:nth-child(1), .ant-menu-item:nth-child(2) {
      display: none;
    }
  }
}
