.os-event {
  display: flex;
  flex-direction: row;
  border: 1px solid #e6e6e6;

  .os-event-cover {
    z-index: 0;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .event-logo-container {
      max-width: 80%;

      img {
        width: 100%;
      }
    }
  }
  .content {
    padding: 25px;
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;

    .description {
      margin-bottom: 20px;
    }
  }
}

@media(max-width: $tabletDevice) {
  .os-event {
    flex-direction: column;

    .os-event-cover {
      min-height: 200px;
    }
  }
}
